<h1>Page to create new dose </h1>

<%= simple_form_for ([@cocktail, @dose]) do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient, collection: Ingredient.all %>
  <%= f.button :submit %>

<% end %>

<%= link_to "All cocktails", '/cocktails' %>
